{% set classes = [
  'news-detail',
  'row'
] %}
{% set sidebar = content.field_sidebar_content|render %}

<article{{ attributes.addClass(classes) }}>
  <div class="row">
    <section class="title">
      {% include 'aventus:title' with {
        'element': 'h1',
        'title': label,
      } %}
    </section>
  </div>
  <section class="news-content   {% if sidebar|trim %} col-12 col-md-8 {% else %} col-12 {% endif %}">
    {{ content.field_paragraphs }}
  </section>

  {% if sidebar|trim %}
    <aside class="sidebar col-12 col-md-4" role="complementary">
      {{ content.field_sidebar_content }}
    </aside>
  {% endif %}
</article>

