{#
/**
 * @file
 * The footer block.
 *
 */
#}

<div class="footer-block container">
    <div class="footer-navigation">
        {# Menu. #}
        {% block content %}
        {{ content }}</div>
        {% endblock %}
    </div>
</div>
