.header {
  &--logo {
    img {
      max-width: 50px;
    }
  }

  &--menu {
    display: none;

    &-item {
      list-style: none;
      padding: var(--spacer-s);
    }
  }

  @include media-breakpoint-up(md) {
    &--menu {
      display: block;

      &-container {
        display: flex;
        float: right;
        margin-top: 20px;
      }

      &-item {
        font-size: 12px;
        list-style: none;
      }
    }
  }
}
