:root {
  // Basic colors.
  --primary: #2f3840;
  --secondary: #8c7b6c;
  --tertiary: #bfb0a3;
  --black: #0d0000;
  --gray: #d9d9d9;
  --white: #ffffff;
  --primary-font-color: var(--black);
  --secondary-font-color: var(--white);
  --primary-button-color: var(--primary);
  --secondary-button-color: var(--secondary);
  --tertiary-button-color: var(--white);
}
