@use '@fontsource/titillium-web/scss/mixins' as Titillium;
@include Titillium.faces(
  $weights: (
    200,
    400,
    700,
  ),
  $styles: all
);

:root {
  // Basic fonts
  --noto-serif: 'noto-serif', arial;
  --montserrat: 'montserrat', arial;
  --default-font: var(--montserrat);
  --heading-font: var(--noto-serif);

  // Font settings
  --default-font-size: 16px;

  // BASIC FONT SIZES
  --h1-font-size: 60px;
  --h2-font-size: 48px;
  --h3-font-size: 36px;
  --h4-font-size: 24px;

  @include media-breakpoint-down(md) {
    --h1-font-size: 40px;
    --h2-font-size: 36px;
    --h3-font-size: 24px;
    --h4-font-size: 18px;
    --default-font-size: 14px;
  }
}

html,
body {
  color: var(--primary-font-color);
  font-family: var(--default-font);
  font-size: var(--default-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
  font-family: var(--heading-font);
  font-weight: 500;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

a {
  color: var(--secondary-font-color);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

p {
  font-size: var(--default-font-size);
}
