<div class="landings-page">
  <article class="row">
    <section class="content col-12 {% if sidebar['#region'] %} col-md-8   {% endif %}">
      <h1>{{ node.title.value }}</h1>
      {{ content.field_paragraphs }}
    </section>
  </article>
</div>
