{#
/**
* @file
* Theme override to display a single page.
*
* @see template_preprocess_page()
* @see html.html.twig
*/
#}
{% include '@tripchoice/layout/header.html.twig' %}

{% if page.highlighted %}
  <div class="highlighted container">
    {{ page.highlighted }}
  </div>
{% endif %}


  <div class="row">
    <main role="main" class="col-12">
      <div class="container">
        <section class="content">
          {{ page.content }}
        </section>
      </div>
    </main>
  </div>


{% include '@tripchoice/layout/footer.html.twig' %}
