{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  paragraph.field_separator_style.value ? paragraph.field_separator_style.value,
] | sort | join(' ') | trim %}

<div class="{{ classes }}">
  {% block paragraph_content %}
    <div class="text-with-image-title">
      {% include 'aventus:title' with {
        'element': 'h2',
        'title': paragraph.field_title.value,
      } %}
    </div>
    {{ content.field_teasers }}
  {% endblock %}
</div>
