.hamburger {
  display: flex;
  flex-direction: row-reverse;

  &--icon {
    cursor: pointer;
    display: block;
    height: 40px;
    margin: 16px 0 0;
    width: 40px;

    &-close {
      display: none;
    }

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}

.mobile-navigation-region {
  background-color: var(--primary);
  color: var(--secondary-font-color);
  max-height: 0;
  overflow: hidden;
  transition: var(--transition-speed);
  width: 100vw;

  .menu {
    margin: 0;
    padding: 0 15px;

    > .menu-item {
      list-style: none;
      overflow: hidden;
      padding: 10px;

      > .menu {
        max-height: 0;
      }
    }
  }

  .views-exposed-form {
    .form-item {
      input {
        background-color: var(--aventus-white);
      }
    }
  }

  > .views-exposed-form,
  > .main-menu {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &.open {
    max-height: 1000px;
  }

  @include media-breakpoint-up(md) {
    max-height: 0;
  }
}
