.study-items {
  list-style: none;
  padding: 0;

  .study-item {
    margin: 10px 0;
    padding-bottom: 10px;
    padding-top: 10px;

    h3 {
      color: var(--default-link-color);
    }

    .study-filters {
      i {
        color: var(--servicemenu-link-color);
      }
    }

    .study-intro {
      color: var(--default-text-color);
    }

    &:hover {
      border-bottom: 1px solid var(--aventus-green);
      border-top: 1px solid var(--aventus-green);
    }
  }
}

.study-detail {
  .sidebar-info {
    margin: var(--spacer-l) 0;

    .sidebar-title {
      h1 {
        color: var(--default-link-color);
      }
    }

    .sidebar-table {
      .label {
        font-weight: bold;
      }
    }
  }
}
