.student-quotes {
  .block-views,
  .views-element-container,
  .block {
    position: relative;
  }
}

.student-qoute {
  margin-top: -50px;
  padding-bottom: var(--spacer-l);
  padding-top: var(--spacer-l);

  .slider {
    border-radius: 15px;
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 100%;

    .views-row {
      height: 350px;
      padding: var(--spacer-l);
      position: absolute;
      transition: ease-in-out 1s;
      width: 100%;
    }
  }

  li {
    list-style: none;
  }

  &:before {
    background-color: var(--aventus-blue);
    content: '';
    height: 80%;
    left: -50vw;
    position: absolute;
    top: 0;
    width: 150vw;
    z-index: -1;
  }

  &-content {
    h2 {
      color: var(--aventus-white);
    }
  }

  &-tekst {
    position: relative;

    &-inner {
      background-color: var(--aventus-white);
      border-radius: 15px;
      padding: var(--spacer);
      position: absolute;
      right: -50px;

      &:after {
        background-color: transparent;
        border: 0 solid;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        bottom: 32px;
        box-shadow: -21px 9px 0 8px #ffffff;
        content: '';
        display: block;
        height: 26px;
        position: absolute;
        right: -29px;
        width: 38px;
      }
    }
  }
}
